{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <form role="form" method="post" action="">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-2 pr-md-1">
              <div class="form-group">
                <label>UserID</label>
                <input type="text" class="form-control" value="{{ current_user.id }}">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" value="{{ current_user.username }}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" value="{{ current_user.email }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>AP Serial</label>
                <input type="text" class="form-control" placeholder="AP Serial Number" value="{{ current_user.serial }}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>AP MAC Addres</label>
                <input type="text" class="form-control" placeholder="AP MAC Addres" value="{{ current_user.mac }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>AP Hostname</label>
                <input type="text" class="form-control" placeholder="AP Hostname" value="{{ current_user.hostname }}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>VPN IP Address</label>
                <input type="text" class="form-control" placeholder="VPN IP Address" value="{{ current_user.ip }}">
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="card-footer">
<!--        <button type="submit" name="update" class="btn btn-fill btn-primary">Save</button> -->
      </form>
      </div>
    </div>
  </div>

</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
